<html>
    <head>
        <title>
            Hawaii Precipication and Tempurature API
        </title>
    </head>
    <body>
        Here are the endpoints: <br/>
        <ol>
            <li><a href="http://127.0.0.1:5000/api/v1.0/precipitation" target="_blank">Precipication</a></li>
            <li><a href="http://127.0.0.1:5000/api/v1.0/stations" target="_blank">Stations</a></li>
            <li><a href="http://127.0.0.1:5000/api/v1.0/tobs" target="_blank">Temperatures</a></li>
            <li><a href="http://127.0.0.1:5000/api/v1.0/" target="_blank">Date Range</a></li>
            <ul>
                <li>Include a start date to see the min, max, and average temperature from that date on</li>
                <li>Include another slash followed by a later date to see the min, max, and average temperature for all days between the given dates</li>
            </ul>
        </ol>
    </body>
</html>